body {
  background-color: #f9fbfd !important;
}

.ql-toolbar {
  margin-top: 10px !important;
  background-color: lightgray;
  border-radius: 24px;
  width: 95vw !important;
}

.ql-editor {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  background-color: white;
  border: 1px solid #dcdcdc;
  height: 1123px;
  width: 800px !important;
  margin: auto;
  padding: 100px;
  overflow-y: scroll !important;
}

.ql-container {
  height: 70vh;
}

.ql-container.ql-snow {
  border: none;
  height: auto !important;
}

.main {
  flex-direction: row;
}

.title-w {
  width: 50% !important;
}

.editor {
  margin-top: 20px;
  width: 70vw;
}

.editor-content {
  width: 98%;
  height: 100vh;
}

.sidebar {
  margin-top: 8px;
  height: 100vh;
  width: 40px;
}

.sidebar-content {
  flex-direction: column-reverse;
  margin: auto 0;
  padding: 0px;
}

.nav-link-custom {
  padding-left: 10px !important;
  padding-right: 2px !important;
}

.share-title {
  color: black;
}

@media (max-width: 420px) {
  .main {
    flex-direction: column;
  }

  .title-w {
    width: 30% !important;
  }

  .editor {
    width: 100vw;
    margin-top: 5px;
  }

  .sidebar {
    width: 100vw;
    height: 5vh;
    margin-top: 5px;
    border-right: none;
  }
  .sidebar-content {
    flex-direction: row-reverse;
  }

  .ql-toolbar {
    width: 100% !important;
  }

  .ql-editor {
    width: 100% !important;
    padding: 20px;
  }
}
